@charset "utf-8";
@media screen and (max-width: 431px) {

    .view {
        display: block;
        width:140px;
        border-radius: 20px;
        background:linear-gradient(to top, #f5e7f0, #fad7d7) !important;
        padding: 10px 20px;
        font-size: 12px;
        margin: 10px 0 50px 10px;
    }
    .arrow_img {
        width:30px;
        margin-left: 60px;
    }
    .gnb_area, .btn_kr,
    .btn_fs ,.content, .item{
        display: none;
    }
    .m_item{
        display: block;
    }
    .m_menu {
        opacity: 1;
    }
    h2 {
        font-size: 24px;
        padding: 10px 20px;
        box-sizing: border-box;
        line-height: 1.4;
    }
    .logo img {
        width: 100px;
    }
    .header_right img {
        width: 18px;
    }
    .header_right .btn_w {
        margin-top: 2px;
    }
    .main_bg {
        width: 100%;
        height: 90vh;
        margin-bottom: 100px;
    }
    .main_slide .bg {
        height: 90vh;
        background: no-repeat center/cover;
    }
    .main_slide .bg.bg1 {background-image: url(../img/m_main01.png);}
    .main_slide .bg.bg2 {background-image: url(../img/m_mian02.png);}
    .main_slide .bg.bg3 {background-image: url(../img/m_main03.png);}
    .btn_close {
        margin-right: 0;
    }
    .m_serch {
        position: absolute;
        top:38px; right: 65px;
        height: 15px;
     }
     .m_close{ 
         position: absolute;
         top:38px; right: 30px;
         height: 15px;
     }
    .m_btn_kr {
        position: absolute;
        border-radius: 20px;
        background: #fff;
        width:80px;
        line-height: 37px;
        text-align: center;
        border: 1px solid rgba(0,0,0,0.1);
        color: #000;
        z-index: 100;
        cursor: pointer;
        font-size: 12px;
        margin: 30px 30px 0 30px;
    }
    .m_btn_kr.on {
        position: absolute;
        background: #fff;
        border: none;
        box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
        z-index: 100;
    }
    .m_btn_kr ul {
        margin-top:5px;
        display: none;
    }
    .m_btn_kr li > a{
        font-size:12px;
        color:#000;
        font-weight: 400;
    }
    /* content */
    .m_content{
        display: block;
    }
    .content {
        margin-bottom: 100px;
     }
     .cont_text.underlined {
        text-decoration: underline;
     }
     
     .cont_header {
        display: block;
        border: none;
        margin-bottom: 0;
        padding-bottom: 0;
     }
    .accordion-cont {
        width: 100%;
    }
    .acc-cue:first-child {border-top: 1px solid #ddd;}
    .acc-cue {
        position: relative;
        padding: 17px 0;
        font-size: 16px;
        border-bottom: 1px solid #ddd;
        cursor: pointer;
        display: flex;
    }
    .acc-cue .cont_htext {
        display: inline-block;
        font-size: 12px;
        font-weight: 500;
        color:rgba(22, 22, 22, .6);
        width: 100px;
        margin-left: 10px;
    }
    .acc-cue p {
        font-size: 16px;
        font-weight: 500;
        letter-spacing: -0.84px;
        line-height: 1;
    }
    .acc-cns {
        overflow: hidden;
        font-size: 15px;
        background: #f4f4f2;
        box-sizing: border-box;
        display: none;
    }
    .acc-cns h3 {
        font-size: 16px;
        font-weight: 600;
        padding: 10px 20px;
        box-sizing: border-box;
    }
    .arrow-cont {
        position: absolute;
        top: 50%; right: 5px;
        transform: translate(0, -50%);
    }
    .acc-cns .banner {
        width:100%;
    }
  
    .acc-cue img {width: 30px;}
    .acc-cue .arrow-top {display: none;}
    .acc-cue .arrow-bottom {display: block;}
    .acc-cue.on .arrow-top {display: block;}
    .acc-cue.on .arrow-bottom {display: none;}
    
    .m_gnbArea{
        display: none;
        position: fixed;
        right:0; top:0; bottom:0;
        background: #fff;
        width: 93%;
        z-index: 101;
    }
    .m_gnbArea .top{
        text-align: center;
        background:#fff;
    }
    .m_gnb {
        text-align: left;
        padding: 15px 0 0;
        line-height: 40px;
        margin-top: 100px;
    }
    .m_gnb a {
        display: block;
        color: #000;
        font-size: 16px;
        font-weight: 500;
        position: relative;
        margin-left: 30px;
    }
    .acc-que {
        position: relative;
        padding:5px;
        font-size: 16px;
        cursor: pointer;
        text-align: left;
    }
    .acc-que.on > span {font-weight: 500; color: orangered}
    .acc-ans {
        overflow: hidden;
        font-size: 15px;
        background: #f4f4f2;
        padding: 20px 10px;
        box-sizing: border-box;
        display: none;
    }
    .acc-ans a {
        line-height: 2.5;
        color: rgba(22, 22, 22, .9);
        font-size: 15px;
    }
    .arrow-wrap {
        position: absolute;
        top: 48%; right: 10px;
        transform: translate(0, -50%);
    }
    .acc-que img {width: 25px}
    .acc-que .arrow-top {display: none};
    .acc-que .arrow-bottom {display: block};
    .acc-que.on .arrow-top {display: block};
    .acc-que.on .arrow-bottom {display: none};
    
    /* item */
    
    .m_item_box {
        width:100%;
        margin-bottom: 100px;
        padding-bottom: 50px;
        border-bottom: 1px solid #ccc;
    }
    .m_item_box h2 {
        font-size: 32px;
        padding: 10px 20px;
        box-sizing: border-box;
        line-height: 1.4;
    }
    .m_item_box span {
        font-size: 15px;
        color:#000;
        font-weight: 500;
        padding: 10px 20px;
        box-sizing: border-box;
    }
    .m_item_box p {
        font-size: 13px;
        line-height: 1.5;
        margin: 10px 0 30px 0;
        padding: 10px 20px;
        box-sizing: border-box;
    }
    .m_slider{
        padding: 10px 20px;
        box-sizing: border-box;
    }

    /* 이벤트 */
    .event {
        width:100%;
        display: block;
        padding: 100px 0;
    }
    .event .news_img{
        display: none;
    }
    .event_img {
        margin: 0 20px;
    }
    .event_img img {
        width:100%;
        height:300px;
    }
    .swiper-button-prev::after {
        content: '';
        display: none;
    }
    .swiper-button-next:after{
        content: '';
        display: none;
    }
    .top_text {
        padding: 0 20px;
    }
    .top_text span {
        font-size: 14px;
    }
    .top_text h3 {
        font-size: 16px;
        color:#000;
        margin-bottom: 10px;
    }
    .top_text h4 {
        font-size: 14px;
        color:#333;
        font-weight: 400;
        padding-bottom: 0;
        border-bottom:none;
    }
    .top_text p {
        font-size: 13px;
        letter-spacing: -0.96px;
        line-height: 1.56;
        color: rgba(22,22,22,.8);
        margin-top:20px;
    }

/* footer */
.ft_box {
    display: none;
}
.m_ft_box{
    display: block;
    position: relative;
}
footer {
    height: 35vh;
    padding: 0 30px;
    box-sizing: border-box;
    margin-bottom: 50px;
}
.ft_top {
    margin-bottom:20px;
}
.ft_top img {
    width: 25%;
}

.ft_bot > p{
    font-size: 12px;
    font-weight: 500;
    color: rgba(0, 0, 0, .5);
    letter-spacing: -1.32px;
}
.ft_mid .ft_text{
    position: absolute;
    bottom: -150px; left: 0;
}
.ft_mid .ft_text a {
    display: block;
    font-size: 12px;
    margin-bottom: 10px;
}
.ft_mid .ft_img {
    display: flex;
    align-items: center;
    position: absolute;
    bottom: -210px; left: 0;
}
.ft_img img{
    width:35px;
}
.ft_img .img_txt {
    width: 100px;
    height: 40px;
}
.m_btn_fs ul {
    position: absolute;
    bottom:30px; right: 0;
    background: rgba(255, 255, 255,0.5);
    margin-top:5px;
    border-radius: 5px;
    padding: 10px 0 0 15px;
    width:100px;
    display: none;
}
.m_btn_fs li {
    margin-bottom: 15px;
} 
.m_btn_fs li  a {
    font-size: 10px;
    color:#000;
    font-weight: 400;
}
.m_btn_fs .fs_box {
    position: absolute;
    bottom: 0; right: 0;
    border: none;
    border-radius: 20px;
    padding: 10px 25px;
    box-sizing: border-box;
    background: linear-gradient(to top, #fadcdd, #f6e8f1);
    font-size: 14px;
}
.m_btn_fs:hover ul {
    display: block;
}

/* search */
.searchArea {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0; left: 0; right: 0;
    height: 250px;
    background: #fff;
    z-index: 10;
    margin-top: 70px;
    display: none;
}
.searchInner .search {width: 85%;}
.searchInner .search input {
    width: 100%;
    height: 56px; 
    line-height: 56px;
    border-bottom: 2px solid #000;
    font-size: 14px;
    margin-top: 70px;
}
.searchInner .search button {
    position: absolute;
    top: 80px; right: 0;
    width: 32px; height: 32px;
    background: url(../img/hd_search_black.png) no-repeat center;
    border: none;
}
.searchInner .search input:focus {outline: none;}
}




