@charset "utf-8";
@media screen and (max-width: 431px) {


/* main_bg */
.main_bg {
    height: 40vh;
    margin-bottom: 10px;
}
.main_bg .main_text {
    position: absolute;
    bottom: 25%; left:3%;
}
.location_con {
    margin-bottom: 30px;
}
.location_con a {
    font-size: 14px;
    color: rgb(0,0,0,0.5);
}
h2 {
    font-size: 26px;
    margin-bottom: 0;
}
/* about_banner */
.about_banner {
    display: none;
}
.m_about_banner {
    background: url(../img/about_banner.png) no-repeat left/cover;
    height: 65vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 5%;
}
.m_about_banner h3 {
    font-size: 22px;
    color:#fff;
    text-align: center;
    line-height: 1.53;
    letter-spacing: -1.8px;
}
.cont_box{
    display: block;
    width:100%;
    margin-top: 100px;
}
.cont{
    width: 100%;
    margin-bottom: 20px;
    padding:0 15px;
    box-sizing: border-box;
}
.cont img {
    width:100%
}
.cont_text{
    position: absolute;
    bottom:3%; left:5%;
    line-height: 1;
    padding:5px;
    box-sizing: border-box;
}
.cont_text p {
    font-size: 15px;
    font-weight: bold;
    color: #fff;
    margin-bottom: 10px;
}
.cont_text span{
    font-size: 13px;
    font-weight: 500;
    color: #fff;
}

/* search */
.searchArea {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0; left: 0; right: 0;
    height: 250px;
    background: #fff;
    z-index: 10;
    margin-top: 70px;
    display: none;
}
.searchInner .search {width: 85%;}
.searchInner .search input {
    width: 100%;
    height: 56px; 
    line-height: 56px;
    border-bottom: 2px solid #000;
    font-size: 14px;
    margin-top: 70px;
}
.searchInner .search button {
    position: absolute;
    top: 80px; right: 0;
    width: 32px; height: 32px;
    background: url(../img/hd_search_black.png) no-repeat center;
    border: none;
}
.searchInner .search input:focus {outline: none;}

}