@charset "utf-8";
@media screen and (max-width: 1025px) {
    .btn_b {
        display: none;
        width: 20px;
        margin-right:30px;
        margin-top: 5px;
    }
    .m_btn_b{
        display: block;
        width: 20px;
        margin-right:30px;
        margin-top: 5px;
    }
    .m_btn_close {
        display: none;
        width:20px;
        margin-right: 30px;
        margin-top: 5px;
    }
    .btn_close{
        display: none;
        width:20px;
        margin-right: 30px;
        margin-top: 5px;
    }
    .m_serch, .m_close {
        display: block;
    }
    .searchArea {
        display: flex;
        justify-content: center;
        align-items: center;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        height: 250px;
        background: #fff;
        z-index: 10;
        margin-top: 70px;
        display: none;
    }

    .searchArea.on {
        display: flex;
    }

    .searchInner .search {
        position: relative;
        width: 60%;
        margin: 0 auto;
        text-align: center;
    }

    .searchInner .search input {
        width: 100%;
        height: 56px;
        padding-left: 0;
        font-size: 18px;
        margin-top: 8%;
    }

    .searchInner .search button {
        position: absolute;
        top: 63px;
        right: 10px;
        width: 28px;
        height: 28px;
        background: url(../img/hd_search_black.png) no-repeat center;
        border: none;
    }

    .searchInner .search input:focus {
        outline: none;
    }

    .main_bg {
        height: 25vh;
    }

    .main_bg .main_text {
        left: 5%;
    }

    .m_box {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
    }

    .vid_img {
        width: 460px;
        height: 300px;
        border-radius: 5px;
        cursor: pointer;
    }

    .media_box {
        position: relative;
        display: inline-block;
        margin: 30px 20px 20px 20px;
    }

    .media_box p {
        font-size: 13px;
    }

    .media_box:last-child {
        display: none;
    }

    .m_ft_box {
        margin-top: 15%;
        display: block;
        position: relative;
    }
}

@media screen and (max-width: 913px) {
    .vid_img {
        width: 410px;
        height: 300px;
        border-radius: 5px;
        cursor: pointer;
    }

    .media_box {
        position: relative;
        display: inline-block;
        margin: 30px 20px 20px 20px;
    }

    .media_box p {
        width: 350px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}
@media screen and (max-width: 831px) {
    .searchInner .search button {
        position: absolute;
        top: 55px;
    }
    .vid_img {
        width: 360px;
        height: 300px;
        border-radius: 5px;
        cursor: pointer;
    }

    .media_box {
        position: relative;
        display: inline-block;
        margin: 30px 20px 20px 20px;
    }

    .media_box p {
        width: 350px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

@media screen and (max-width:769px) {
    .searchInner .search button {
        position: absolute;
        top: 50px;
    }

    .vid_img {
        width: 340px;
        height: 200px;
        border-radius: 5px;
        cursor: pointer;
    }

    .media_box p {
        width: 340px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

@media screen and (max-width: 431px) {

    /* main_bg */
    .main_bg {
        height: 20vh;
        margin-bottom: 10px;
    }

    .main_bg .main_text {
        position: absolute;
        bottom: 3%;
        left: 3%;
    }

    .location_con {
        margin-bottom: 30px;
    }

    .location_con a {
        font-size: 12px;
        color: rgb(0, 0, 0, 0.5);
    }

    h2 {
        font-size: 26px;
        margin-bottom: 0;
    }

    /* content */
    .content {
        display: block;
        padding: 0 10px;
        margin-bottom: 50px;
    }

    .media_box {
        position: relative;
        display: inline-block;
        margin: 0;
    }

    .media_box p {
        text-align: left;
        font-weight: 500;
        font-size: 15px;
        color: #000;
        margin: 20px 0;
        letter-spacing: -0.108px;
    }

    .vid_img {
        width: 100%;
        height: 100%;
        border-radius: 5px;
        cursor: pointer;
    }

    .media_box .btn {
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
        opacity: 1;
        transition: opacity 0.3s ease;
        width: 70px;
    }

    .modal {
        display: none;
        position: fixed;
        z-index: 9999;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: rgba(0, 0, 0, 0.8);
    }

    .close {
        color: #fff;
        position: absolute;
        top: 115px;
        right: 21%;
        font-size: 35px;
        font-weight: bold;
        cursor: pointer;
        z-index: 9999;
    }

    /* search */
    .searchArea {
        display: flex;
        justify-content: center;
        align-items: center;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        height: 250px;
        background: #fff;
        z-index: 10;
        margin-top: 70px;
        display: none;
    }

    .searchInner .search {
        width: 85%;
    }

    .searchInner .search input {
        width: 100%;
        height: 56px;
        line-height: 56px;
        border-bottom: 2px solid #000;
        font-size: 14px;
        margin-top: 70px;
    }

    .searchInner .search button {
        position: absolute;
        top: 80px;
        right: 0;
        width: 32px;
        height: 32px;
        background: url(../img/hd_search_black.png) no-repeat center;
        border: none;
    }

    .searchInner .search input:focus {
        outline: none;
    }

}